:root {
  --primary-font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-dark-theme: #9da4bd;
  --secondary-text-color-dark-theme: #ffffff;
  --third-text-color-dark-theme: rgba(157, 164, 189, 0.6);
  --primary-text-color-light-theme: #555555;
  --secondary-text-color-light-theme: #303030;
  --accent-color: #ff6c00;
  --old-school-backgrond-color: #f7f7f7;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font-family);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.modal-btn {
  min-width: 160px;
  padding: 10px 16px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 250ms linear, background-color 250ms linear;
}
.modal-btn:hover, .modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-dark-theme);
}

.btn_light_theme {
  color: var(--secondary-text-color-light-theme);
}

.social-links-list {
  display: flex;
  align-items: center;
}
.social-links-list::before {
  display: block;
  flex-shrink: 0;
  margin-right: 40px;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--secondary-text-color-light-theme);
}

.social-links-list__item:not(:last-child) {
  margin-right: 40px;
}

.social-links-list__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-light-theme);
  transition: color 250ms linear;
}
.social-links-list__link:hover, .social-links-list__link:focus {
  color: var(--accent-color);
}

.overtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.overtitle::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
}

.overtitle_theme_dark {
  color: var(--third-text-color-dark-theme);
}
.overtitle_theme_dark::before {
  background-color: var(--third-text-color-dark-theme);
}

.overtitle_theme_light {
  color: var(--secondary-text-color-light-theme);
}
.overtitle_theme_light::before {
  background-color: var(--secondary-text-color-light-theme);
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.description_theme_dark {
  color: var(--primary-text-color-dark-theme);
}

.description_theme_light {
  color: var(--primary-text-color-light-theme);
}

.title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.title_theme_light {
  margin-bottom: 20px;
  color: var(--secondary-text-color-light-theme);
}

.title_theme_dark {
  margin-bottom: 44px;
  color: var(--secondary-text-color-dark-theme);
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--secondary-text-color-dark-theme);
  transition: background-color 250ms linear;
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--secondary-text-color-light-theme);
}

.social-list__icon {
  fill: var(--secondary-text-color-light-theme);
  transition: fill 250ms linear;
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 250ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: var(--secondary-text-color-dark-theme);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #555555;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: border-color 250ms linear;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  border-color: var(--accent-color);
}

.modal-close-btn__icon {
  fill: var(--secondary-text-color-light-theme);
  transition: fill 250ms linear;
}
.modal-close-btn:hover .modal-close-btn__icon, .modal-close-btn:focus .modal-close-btn__icon {
  fill: var(--accent-color);
}

.contact-form__field-header {
  display: block;
  margin-bottom: 10px;
}

.contact-form__input-header {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--primary-text-color-light-theme);
  border-radius: 5px;
  transition: border-color 250ms linear;
}
.contact-form__input-header:focus {
  outline: none;
  border-color: #ff6c00;
}

.contact-form__icon-header {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  background-color: var(--primary-text-color-light-theme);
  transition: background-color 250ms linear;
}
.contact-form__input-header:focus + .contact-form__icon-header {
  background-color: var(--accent-color);
}

.contact-form__input-wrapper-header {
  display: block;
  position: relative;
  margin-top: 6px;
}

.contact-form__message-header {
  width: 100%;
  height: 100px;
  margin-top: 6px;
  padding: 10px 15px;
  resize: none;
  border: 1px solid var(--primary-text-color-light-theme);
  border-radius: 5px;
  transition: border-color 250ms linear;
}
.contact-form__message-header:focus {
  outline: none;
  border-color: #ff6c00;
}
.contact-form__message-header::placeholder {
  text-transform: uppercase;
}

.contact-form__checkbox-wrapper-header {
  margin-bottom: 20px;
}

.contact-form__checkbox-label-header {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.contact-form__checkbox-label-header::before {
  display: inline-block;
  margin-right: 10px;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #555555;
  cursor: pointer;
}
.contact-form__checkbox-header:checked + .contact-form__checkbox-label-header::before {
  background-color: #ff6c00;
  box-shadow: inset 0 0 0 2px #ffffff;
}
.contact-form__checkbox-header:focus + .contact-form__checkbox-label-header::before {
  outline: 1px solid #000099;
}

.contact-form__button-btn-header {
  display: block;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.page-header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  margin-right: 70px;
}

.nav-list__item:not(:last-child) {
  margin-right: 40px;
}

.nav-list__link {
  padding-top: 48px;
  padding-bottom: 48px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color-dark-theme);
  transition: color 50ms linear;
}
.nav-list__link:focus, .nav-list__link:hover {
  color: var(--accent-color);
}

.contact-number {
  margin-left: auto;
  margin-right: 60px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-text-color-dark-theme);
  transition: color 250ms linear;
}
.contact-number:focus, .contact-number:hover {
  color: var(--accent-color);
}

.hero-container {
  display: flex;
}

.hero-left-side {
  display: flex;
  align-items: flex-end;
  padding-left: 26px;
  padding-bottom: 40px;
  width: 100px;
}

.social-links-list-hero {
  transform: rotate(-90deg);
  transform-origin: left top;
}

.hero-right-side {
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-img.jpg);
  background-size: cover;
  background-color: var(--secondary-text-color-light-theme);
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 100px;
}

.main-title {
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-dark-theme);
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-left-side,
.about-right-side {
  flex-basis: calc((100% - 30px) / 2);
}

.about-right-side {
  padding-left: 34px;
}

.about-gallery__list {
  display: flex;
  justify-content: space-between;
}

.about-section-description {
  margin-bottom: 20px;
  width: 400px;
}

.about__text {
  margin-bottom: 40px;
  width: 410px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-light-theme);
}

.prices {
  background-image: url(../images/prices/bg.png);
  background-size: cover;
  background-color: #111319;
}
.prices .overtitle_theme_dark {
  margin-bottom: 20px;
}

.prices-container {
  display: flex;
}

.prices-list {
  flex-basis: 50%;
  padding: 30px 40px;
  margin-bottom: 50px;
}
.prices-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-list__item {
  display: flex;
  justify-content: space-between;
}
.prices-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.prices .modal-btn {
  display: block;
  margin: 0 auto;
}

.prices-list__name,
.prices-list__price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-dark-theme);
}

.advantages-container {
  display: flex;
  justify-content: space-between;
}

.advantages-right-side,
.advantages-left-side {
  flex-basis: calc((100% - 30px) / 2);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 370px;
  margin: 0 auto;
}

.advantages-list__quantity {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-light-theme);
}

.advantages-list__text {
  font-weight: 600;
  color: var(--accent-color);
}

.advantages-list__description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-text-color-light-theme);
}

.advantages-list__item {
  padding: 21px;
  width: 170px;
  min-height: 133px;
  background-color: var(--old-school-backgrond-color);
}
.advantages-list__item:nth-child(even) {
  margin-top: 30px;
}

.advantages-description,
.advantages-right-side .title {
  max-width: 460px;
}

.employees-section {
  background-color: var(--old-school-backgrond-color);
}
.employees-section .title {
  margin-bottom: 44px;
}

.employees__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.employees__card {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.employees-container {
  padding-top: 30px;
}

.employees__name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-light-theme);
}

.employees__position {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.gallery .overtitle_theme_light {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.gallery-list__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.contact {
  background-color: #191c26;
  background-image: url(../images/contacts/bg1.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50% auto;
}

.contact-container {
  display: flex;
}

.contact-form-section {
  width: 50%;
  padding-right: 40px;
}

.contact-form__field {
  display: inline-block;
  margin-bottom: 44px;
}
.contact-form__field:first-child {
  margin-right: 30px;
}

.contact-form__input {
  width: 255px;
  height: 24px;
  background-color: #191c26;
  color: var(--secondary-text-color-dark-theme);
  border: none;
}

.contact-form__message {
  width: 545px;
  height: 76px;
  resize: none;
  background-color: #191c26;
  color: var(--secondary-text-color-dark-theme);
  border: none;
}

.contact-form__input,
.contact-form__message {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.contact-form__input::placeholder,
.contact-form__message::placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
}
.contact-form__input:focus::placeholder,
.contact-form__message:focus::placeholder {
  color: var(--secondary-text-color-dark-theme);
}
.contact-form__input:focus,
.contact-form__message:focus {
  outline: none;
}

.contact-form__input-wrapper {
  display: block;
  position: relative;
  width: 100%;
}

.contact-form__icon {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
  cursor: pointer;
  transition: background-color 250ms linear;
}
.contact-form__input:focus + .contact-form__icon, .contact-form__message:focus + .contact-form__icon {
  background-color: var(--secondary-text-color-dark-theme);
}

.contact-info-section {
  width: 50%;
  padding-left: 100px;
}
.contact-info-section .title_theme_dark {
  margin-bottom: 40px;
}

address {
  font-style: normal;
}

.contact-list {
  display: flex;
  flex-direction: column;
}

.contact-list__item {
  align-items: center;
  justify-content: center;
}
.contact-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-list__icon {
  margin-right: 16px;
}
.contact-list__link:hover .contact-list__icon, .contact-list__link:focus .contact-list__icon {
  fill: var(--accent-color);
}

.contact-list__link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-dark-theme);
}
.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-info__text {
  color: var(--secondary-text-color-dark-theme);
}
.contact-info-section .contact-info__text {
  margin: 70px auto 20px;
}

.contact-info__date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-dark-theme);
}

.footer {
  padding: 56px 55px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-dark-theme);
}/*# sourceMappingURL=main.css.map */