.contact {
  background-color: #191c26;
  background-image: url(../images/contacts/bg1.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50% auto;
}

.contact-container {
  display: flex;
}
