.contact-info-section .title_theme_dark {
  margin-bottom: 40px;
}

.contact-list__item {
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contact-list__icon {
  margin-right: 16px;

  .contact-list__link:hover &,
  .contact-list__link:focus & {
    fill: var(--accent-color);
  }
}

.contact-list__link {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--primary-text-color-dark-theme);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-info__date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--primary-text-color-dark-theme);
}

.contact-info__text {
  color: var(--secondary-text-color-dark-theme);

  .contact-info-section & {
    margin: 44px auto 20px;
  }
}

// 0 - 1199px

@media screen and (max-width: 1279px) {
}

// 0 - 767px

@media screen and (max-width: 767px) {
  .contact-info-section .title {
    text-align: center;
  }
}

// mobile 480+

@media screen and (min-width: 480px) {
}

// tablet 768+

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .address {
    display: flex;
    justify-content: space-between;
  }
  .contact-info-section .contact-info__text {
    margin: 0 auto 20px;
    color: var(--primary-text-color-dark-theme);
  }
}

// destcop 1200+

@media screen and (min-width: 1280px) {
  .contact-info-section .contact-info__text {
    margin: 70px auto 20px;
  }
  .contact-info-section {
    width: 50%;
    padding-left: 100px;
  }
}
