.prices {
  background-image: url(../images/prices/bg.png);
  background-size: cover;
  background-color: #111319;

  & .overtitle_theme_dark {
    margin-bottom: 20px;
  }
}

.prices-container {
  display: flex;
}

.prices-list {
  flex-basis: 50%;
  padding: 30px 40px;
  margin-bottom: 50px;

  &:first-child {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }

  &:last-child {
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.prices-list__item {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.prices .modal-btn {
  display: block;
  margin: 0 auto;
}

.prices-list__name,
.prices-list__price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--primary-text-color-dark-theme);
}
