.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.description_theme_dark {
  color: var(--primary-text-color-dark-theme);
}

.description_theme_light {
  color: var(--primary-text-color-light-theme);
}
