:root {
  --primary-font-family: 'Open Sans', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-text-color-dark-theme: #9da4bd;
  --secondary-text-color-dark-theme: #ffffff;
  --third-text-color-dark-theme: rgba(157, 164, 189, 0.6);
  --primary-text-color-light-theme: #555555;
  --secondary-text-color-light-theme: #303030;
  --accent-color: #ff6c00;
  --old-school-backgrond-color: #f7f7f7;
}
